textarea.newpostText {
    box-sizing: border-box;
    width: 100%;
    min-width: 100%;
    min-height: 50px;
}
.buttonSendBox {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
