.mainImage {
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: center;
}

.userWrapper {
    display: flex;
    margin-top: 10px;
}

.userAva {
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: center;
}

.userInfo {
    margin-left: 20px;
}

.fullName {
    font-size: 26px;
    font-weight: 600;
}

.aboutMe {
    display: inline-block;
    margin-top: 5px;
    font-size: 14px;
    color: rgb(54, 54, 54);
    text-decoration: underline;
}
.aboutMeContent {
    margin-left: 5px;
    font-size: 14px;
}
.inputLoadAva {
    display: none;
}
.butLoadAva {
    display: flex;
    position: absolute;
    right: 2px;
    bottom: 2px;
    height: 15px;
    width: 15px;
    border-radius: 4px;
    border: 1px solid grey;
    padding: 2px;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 255, 157);
}
.avaBox {
    position: relative;
}
