a {
    text-decoration: none;
}
.app-wrapper {
    margin: 0 auto;
    display: grid;
    width: 1200px;
    grid-template-areas:
        "h h"
        "n c";
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 10px;
}

.header {
    display: flex;
    grid-area: h;
    background-color: grey;
}

.header .logoWrapper {
    width: 60px;
    height: 100%;
}

.header img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.nav {
    grid-area: n;
    background-color: khaki;
}

.content {
    grid-area: c;
    background-color: lightblue;
}

.content img {
    width: 100%;
}
