.dialogs {
    display: flex;
    background-color: cornsilk;
}
.dialogsSide {
    width: 200px;
    padding: 10px;
    border-right: 2px solid darkblue;
    box-sizing: border-box;
}
.dialog {
    color: grey;
    padding: 4px;
}
.dialog .active {
    color: black;
    text-decoration: underline;
    background-color: rgb(174, 198, 245);
    border: 1px solid rosybrown;
    border-radius: 6px;
}
.messagesSide {
    width: calc(100% - 200px);
    padding: 10px;
    box-sizing: border-box;
}
.messagesBox {
    padding: 10px;
    background-color: rgb(240, 186, 147);
    border-radius: 10px;
}
.sendContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    box-sizing: border-box;
    margin-top: 10px;
}
.tBoxSend {
    box-sizing: border-box;
    width: 100%;
    height: 28px;
    padding: 5px;
    resize: none;
    font-weight: 100;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.butSend {
    /* display: inline-block; */
    margin-left: 10px;
    background-color: seagreen;
    color: white;
    font-size: 16px;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
