.dialogs {
    display: flex;
    background-color: cornsilk;
}
.dialogsItem {
    width: 50%;
    padding: 10px;
}
.dialog {
    color: grey;
    padding: 4px;
}
.dialog.active {
    color: black;
    text-decoration: underline;
    background-color: rgb(174, 198, 245);
    border: 1px solid rosybrown;
    border-radius: 6px;
}
.messages {
    width: 50%;
    padding: 10px;
}
.massage {
}
